* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial";
}

.heading-primary {
  color: #151522;
  margin-left: -5rem;
  font-size: 1.5rem;
  font-weight: 800;
  position: relative;
  left: -3rem;
}
@media only screen and (max-width: 75em) {
  .heading-primary {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .heading-primary {
    font-size: 1.2rem;
    left: 1rem;
  }
}

.nav {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
  justify-content: space-around;
  position: relative;
}
@media only screen and (max-width: 75em) {
  .nav {
    padding-top: 1rem;
  }
}
.nav__lines {
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  left: -3rem;
}
@media only screen and (max-width: 62.5em) {
  .nav__lines {
    font-size: 1.2rem;
    left: -0.5rem;
  }
}
.nav__searchbar {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 2rem;
  padding: 0.7rem 0.7rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 20rem;
  margin-left: -6rem;
  position: relative;
  left: -3rem;
}
@media only screen and (max-width: 75em) {
  .nav__searchbar {
    position: relative;
    left: -2rem;
    width: 17rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .nav__searchbar {
    width: 15rem;
    padding: 0.5rem 0.5rem;
    left: 2rem;
  }
}
.nav__searchbar__search {
  border: none;
  outline: none;
  font-size: 1rem;
}
.nav__searchbar ::before {
  color: #c4c4c4;
  margin-right: 0.7rem;
}
.nav__searchbar ::-moz-placeholder {
  color: #c4c4c4;
  font-size: 0.9rem;
}
.nav__searchbar ::placeholder {
  color: #c4c4c4;
  font-size: 0.9rem;
}
.nav__add {
  background-color: #151522;
  border-radius: 50%;
  color: #FFFFFF;
  padding: 0.6rem;
  font-size: 0.7rem;
  cursor: pointer;
  margin-right: -11rem;
}
@media only screen and (max-width: 75em) {
  .nav__add {
    margin-right: -8.5rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .nav__add {
    margin-right: -6rem;
  }
}
.nav__notification {
  cursor: pointer;
  margin-right: -11rem;
  font-size: 1.7rem;
  position: relative;
  border-right: 0.5px solid #c4c4c4;
  padding-right: 1.5rem;
}
.nav__notification__dot {
  background-color: red;
  border-radius: 50%;
  height: 0.4rem;
  width: 0.4rem;
  position: absolute;
  left: 1rem;
  top: 0.4rem;
}
@media only screen and (max-width: 75em) {
  .nav__notification {
    margin-right: -8.5rem;
    padding-right: 0.8rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .nav__notification {
    margin-right: -5.5rem;
    padding-right: 0.8rem;
  }
}
.nav__profile {
  margin-right: -4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
@media only screen and (max-width: 75em) {
  .nav__profile {
    margin-right: -2rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .nav__profile {
    margin-right: -1.8rem;
  }
}
.nav__profile__img {
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
}
@media only screen and (max-width: 75em) {
  .nav__profile__img {
    height: 2rem;
    width: 2rem;
  }
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  font-size: 1.5rem;
  list-style: none;
  margin-left: 1rem;
}
.icons__home {
  margin-left: -1rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151522;
  color: #FFFFFF;
  border-radius: 50%;
}
.icons :hover {
  cursor: pointer;
}
@media only screen and (max-width: 75em) {
  .icons {
    font-size: 1.2rem;
  }
  .icons__home {
    width: 3rem;
    height: 3rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .icons {
    font-size: 1.1rem;
  }
  .icons__home {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.project {
  padding: 2.5rem;
}
.project__details {
  display: flex;
  justify-content: space-between;
}
.project__menu {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
}
.project__menu__list {
  display: flex;
  gap: 2rem;
  list-style: circle;
}
.project__menu__list__item li div {
  font-size: 0.85rem;
}
.project__menu__list :first-child {
  list-style: none;
  display: inline;
}
.project__menu__icon {
  display: flex;
  gap: 1.2rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.project-card__1 {
  width: 15rem;
  background-color: #FFFFFF;
  border-radius: 2rem;
  height: 14rem;
  padding: 1.1rem;
  margin-top: 2.5rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 75em) {
  .project-card__1 {
    width: 13rem;
    height: 13rem;
    padding: 0.8rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .project-card__1 {
    width: 12rem;
    height: 12.5rem;
    padding: 0.7rem;
  }
}
.project-card__1__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-card__1__nav p {
  font-size: 0.8rem;
}
.project-card__1__nav :last-child {
  font-size: 1.2rem;
  cursor: pointer;
}
.project-card__1__header {
  margin-top: 1rem;
  text-align: center;
}
.project-card__1__header p {
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}
@media only screen and (max-width: 75em) {
  .project-card__1__header p {
    font-size: 0.8rem;
  }
}
.project-card__1__progress {
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 0.4rem;
}
.project-card__1__progress h5 {
  padding-bottom: 0.6rem;
}
.project-card__1__progress p {
  margin-top: 0.6rem;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: end;
}
@media only screen and (max-width: 75em) {
  .project-card__1__progress p {
    font-size: 0.8rem;
  }
}
.project-card__1__progress-bar {
  width: 100%;
  height: 0.4rem;
  background-color: #e0e0e0;
  border-radius: 2rem;
}
.project-card__1__progress-bar-fill {
  height: 100%;
  background-color: #00bfff;
  border-radius: 5px;
}
@media only screen and (max-width: 75em) {
  .project-card__1__progress-bar {
    height: 0.35rem;
  }
}
.project-card__1__footer {
  display: flex;
  align-items: center;
  margin-top: 0.7rem;
  justify-content: space-between;
}
.project-card__1__footer__image-add {
  display: flex;
  align-items: center;
  position: relative;
}
.project-card__1__footer__image-add__addBtn {
  font-size: 0.8rem;
  padding: 0.2rem;
  color: #FFFFFF;
  background-color: #00bfff;
  border-radius: 50%;
  position: relative;
  left: 1.2rem;
  cursor: pointer;
}
.project-card__1__footer__image-add__img {
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}
.project-card__1__footer__image-add__img2 {
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  left: 1rem;
}
.project-card__1__footer__btn {
  background-color: rgb(222, 240, 247);
  border: none;
  padding: 0.7rem;
  border-radius: 2rem;
  font-size: 0.7rem;
  font-weight: 600;
  color: #00bfff;
  cursor: pointer;
}
.project-card__1__footer__btn:hover {
  background-color: rgb(188, 222, 236);
  transition: all 0.5s;
}
@media only screen and (max-width: 75em) {
  .project-card__1__footer__btn {
    padding: 0.5rem;
  }
}

.project-card__2 {
  background-color: rgb(237, 205, 160);
  width: 15rem;
  border-radius: 2rem;
  height: 14rem;
  padding: 1.1rem;
  margin-top: 2.5rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 75em) {
  .project-card__2 {
    width: 13rem;
    height: 13rem;
    padding: 0.8rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .project-card__2 {
    width: 12rem;
    height: 12.5rem;
    padding: 0.7rem;
  }
}
.project-card__2__progress-bar-fill {
  height: 100%;
  background-color: rgb(235, 123, 11);
  border-radius: 5px;
}
.project-card__2__footer__image-add__addBtn {
  font-size: 0.8rem;
  padding: 0.2rem;
  color: #FFFFFF;
  background-color: rgb(235, 123, 11);
  border-radius: 50%;
  position: relative;
  left: 1.2rem;
  cursor: pointer;
}
.project-card__2__footer__btn {
  background-color: #fffcfc;
  border: none;
  padding: 0.7rem;
  border-radius: 2rem;
  font-size: 0.7rem;
  font-weight: 600;
  color: rgb(235, 123, 11);
  cursor: pointer;
}
.project-card__2__footer__btn:hover {
  background-color: #FFFFFF;
  transition: all 0.5s;
}
@media only screen and (max-width: 75em) {
  .project-card__2__footer__btn {
    padding: 0.5rem;
  }
}

.project-card__3 {
  background-color: #B4F1CE;
  width: 15rem;
  border-radius: 2rem;
  height: 14rem;
  padding: 1.1rem;
  margin-top: 2.5rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 75em) {
  .project-card__3 {
    width: 13rem;
    height: 13rem;
    padding: 0.8rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .project-card__3 {
    width: 12rem;
    height: 12.5rem;
    padding: 0.7rem;
  }
}
.project-card__3__progress-bar-fill {
  height: 100%;
  background-color: rgb(0, 168, 11);
  border-radius: 5px;
}
.project-card__3__footer__image-add__addBtn {
  font-size: 0.8rem;
  padding: 0.2rem;
  color: #FFFFFF;
  background-color: rgb(0, 168, 11);
  border-radius: 50%;
  position: relative;
  left: 1.2rem;
  cursor: pointer;
}
.project-card__3__footer__btn {
  background-color: #fffcfc;
  border: none;
  padding: 0.7rem;
  border-radius: 2rem;
  font-size: 0.7rem;
  font-weight: 600;
  color: rgb(0, 168, 11);
  cursor: pointer;
}
.project-card__3__footer__btn:hover {
  background-color: #FFFFFF;
  transition: all 0.5s;
}
@media only screen and (max-width: 75em) {
  .project-card__3__footer__btn {
    padding: 0.5rem;
  }
}

.project-card__4 {
  background-color: #FFD3E2;
  width: 15rem;
  border-radius: 2rem;
  height: 14rem;
  padding: 1.1rem;
  margin-top: 2.5rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 75em) {
  .project-card__4 {
    width: 13rem;
    height: 13rem;
    padding: 0.8rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .project-card__4 {
    width: 12rem;
    height: 12.5rem;
    padding: 0.7rem;
  }
}
.project-card__4__progress-bar-fill {
  height: 100%;
  background-color: palevioletred;
  border-radius: 5px;
}
.project-card__4__footer__image-add__addBtn {
  font-size: 0.8rem;
  padding: 0.2rem;
  color: #FFFFFF;
  background-color: palevioletred;
  border-radius: 50%;
  position: relative;
  left: 1.2rem;
  cursor: pointer;
}
.project-card__4__footer__btn {
  background-color: #fffcfc;
  border: none;
  padding: 0.7rem;
  border-radius: 2rem;
  font-size: 0.7rem;
  font-weight: 600;
  color: palevioletred;
  cursor: pointer;
}
.project-card__4__footer__btn:hover {
  background-color: #FFFFFF;
  transition: all 0.5s;
}
@media only screen and (max-width: 75em) {
  .project-card__4__footer__btn {
    padding: 0.5rem;
  }
}

.message-section__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px solid #c4c4c4;
}
@media only screen and (max-width: 75em) {
  .message-section__heading {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .message-section__heading {
    font-size: 0.75rem;
  }
}
.message-section__heading__icons {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}
@media only screen and (max-width: 75em) {
  .message-section__heading {
    padding: 1rem;
  }
  .message-section__heading__icons {
    font-size: 1rem;
    gap: 0.5rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .message-section__heading {
    padding: 0.9rem;
  }
  .message-section__heading__icons {
    font-size: 0.9rem;
    gap: 0.5rem;
  }
}

.message-section__chats__messages {
  padding: 1.2rem;
  border-bottom: 1px solid #c4c4c4;
}
.message-section__chats__messages__details {
  display: flex;
  gap: 1rem;
}
.message-section__chats__messages__details__img {
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}
@media only screen and (max-width: 75em) {
  .message-section__chats__messages__details__img {
    height: 2.5rem;
    width: 2.5rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .message-section__chats__messages__details__img {
    height: 2rem;
    width: 2rem;
  }
}
.message-section__chats__messages__details__name h4 {
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
}
@media only screen and (max-width: 75em) {
  .message-section__chats__messages__details__name h4 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .message-section__chats__messages__details__name h4 {
    font-size: 0.9rem;
  }
}
.message-section__chats__messages__details__name p {
  font-size: 0.9rem;
}
@media only screen and (max-width: 75em) {
  .message-section__chats__messages__details__name p {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .message-section__chats__messages__details__name p {
    font-size: 0.75rem;
    min-width: 100%;
  }
}
.message-section__chats__messages__details__icon {
  cursor: pointer;
}
.message-section__chats__messages__date {
  font-size: 0.8rem;
  text-align: end;
  color: grey;
}
.message-section__chats__messages:hover {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1);
  margin: -0.4rem 1rem;
  border-radius: 1rem;
  transition: all 0.3s;
  position: absolute;
  height: 8rem;
  padding: 1.5rem;
}
@media only screen and (max-width: 75em) {
  .message-section__chats__messages:hover {
    height: 7rem;
    display: flex;
  }
}
@media only screen and (max-width: 62.5em) {
  .message-section__chats__messages:hover {
    height: 8rem;
    display: flex;
    padding-top: 1.5rem;
  }
}

.container {
  background-color: #F3F6FD;
}

.main-section {
  margin: 4rem 2rem;
  display: flex;
}

.project {
  margin-left: 2rem;
  margin-top: -2rem;
  background-color: #fffcfc;
  border-radius: 2rem;
  min-width: 700px;
  max-height: 700px;
}
@media only screen and (max-width: 75em) {
  .project {
    min-width: 540px;
    max-height: 810px;
  }
}
@media only screen and (max-width: 62.5em) {
  .project {
    min-width: 450px;
    max-height: 565px;
  }
}

.project-card {
  max-width: 700px;
  max-height: 425px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-y: scroll;
  scrollbar-width: none;
}
@media only screen and (max-width: 62.5em) {
  .project-card {
    min-width: 450px;
    max-height: 400px;
    justify-content: space-around;
    margin-left: -2.5rem;
  }
}

.message-section {
  margin-top: -1.1rem;
  overflow-y: scroll;
  scrollbar-width: none;
  position: relative;
  max-height: 600px;
}

.message-section__chats {
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 700px;
}
@media only screen and (max-width: 75em) {
  .message-section__chats {
    max-height: 500px;
  }
}
@media only screen and (max-width: 62.5em) {
  .message-section__chats {
    max-height: 400px;
  }
}/*# sourceMappingURL=main.css.map */