.container {
    background-color: $color-light-green;
    overflow: hidden;
    height: 110svh;
    width: 100%;

    @include respond(tab-port) {
        overflow-y: scroll;
        scrollbar-width:none;
    }

    margin-top: -0.5rem;
}

.main-section {
    height: 110svh;
    width: 100%;
    margin: 3rem 1rem;
    display: flex;

    @include respond(tab-port) {
        display: block;
    }

    @include respond(tablet) {
        display: block;
    }

    @include respond(phone) {
        display: block;
    }
}

.project {
    margin-left: 1.5rem;
    margin-top: -2rem;
    background-color: #fcfcfc;
    border-radius: 2rem;
    width: 61.5%;
    height: 85%;
    padding-top: 2rem;

    @include respond(tab-port) {
        margin-left: -1rem;
        height: 75%;
        width: 100%;
    }
}

.project-card {
    padding: 2rem;
    height: 73%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 3rem;
    flex-wrap: wrap;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-bottom: 3rem;

    @include respond(tab-port) {
        margin-top: 2rem;
    }
}

.message-section {
    width: 35%;
    height: 99%;
    margin-top: -1.1rem;
    position: relative;

    @include respond(tab-port) {
        margin-top: 2rem;
        margin-left: -1rem;
        width: 100%;
    }
}

.message-section__chats {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    position: relative;
    height: 66%;
    width: 100%;

    @include respond(tab-mini) {
        height: 100%;
    }
}