.container {
    background-color: $color-light-green;
    margin: 5rem;
    max-width: 1200px;
    border-radius: 2rem;
}

.main-section {
    margin: 4rem 2rem;
    display: flex;
}

.project {
    margin-left: 2rem;
    margin-top: -2rem;
    background-color: $color-white-light;
    border-radius: 2rem;
    min-width: 600px;
}

.project-card {
    max-width: 550px; 
    max-height: 625px; 
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: scroll;
    scrollbar-width: none;
}

.message-section {
    margin-top: -1.1rem;
}

.message-section__chats {
    max-width: 550px; 
    max-height: 655px; 
    overflow-y: scroll;
    scrollbar-width: none;
}