.hover-lines {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;

    @include respond(tab-land) {
        margin-top: 2.5rem;
    }
}

.hover-lines .line {
    width: 80%;
    height: 2px;
    background-color: #00c0ff;
}

.hover-lines .line2 {
    width: 60%;
    height: 2px;
    background-color: #00c0ff;
}

.project-card__1:hover .hover-lines {
    opacity: 1;
    transform: translateY(0);
}

.project-card__1 {
    width: 100%;
    background-color: $color-white;
    border-radius: 2rem;
    height: 16rem;
    padding: 1.1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        color: rgb(108, 107, 107);

        p {
            font-size: 0.8rem;
        }
        :last-child {
            font-size: 1.2rem;
            color: black;
            cursor: pointer;
        }
    }

    &__header {
        margin-top: 1.2rem;
        text-align: center;

        p {
            margin-top: 0.3rem;
            margin-bottom: 1rem;
            font-size: 0.9rem;

            
            @include respond(tab-land) {
                font-size: 0.8rem;
            }
            @include respond(tab-port) {
                font-size: 0.95rem;
            }
        }

    }

    &__progress {
        border-bottom: 1px solid whitesmoke;
        padding-bottom: 0.4rem;

        h5 {
            font-size: 0.8rem;
            padding-bottom: 0.6rem;
        }

        p {
            margin-top: 0.6rem;
            margin-bottom: 0.5rem;
            font-size: 0.9rem;
            font-weight: 600;
            text-align: end;

            @include respond(tab-land) {
                font-size: 0.8rem;
            }
        }

        &-bar {
            width: 100%;
            height: 0.4rem;
            background-color:rgb(245, 248, 251);
            border-radius: 2rem;

            &-fill {
                height: 100%;
                background-color: $color-progressbar-sky;
                border-radius: 5px;
            }

            @include respond(tab-land) {
                height: 0.35rem;
            }
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        justify-content: space-between;
        
        &__image-add {
            display: flex;
            align-items: center;
            position: relative;

            &__addBtn {
                font-size: 0.8rem;
                padding: 0.2rem;
                color: $color-white;
                background-color: $color-progressbar-sky;
                border-radius: 50%;
                position: relative;
                left: 1.2rem;
                cursor: pointer;
            }

            &__img {
                cursor: pointer;
                object-fit: cover;
                border-radius: 50%;
                height: 1.5rem;
                width: 1.5rem;
            }

            &__img2 {
                cursor: pointer;
                object-fit: cover;
                border-radius: 50%;
                height: 1.5rem;
                width: 1.5rem;
                position: absolute;
                left: 1rem;
            }
        }

        &__btn {
            background-color: rgb(222, 240, 247);
            border: none;
            padding: 0.7rem;
            border-radius: 2rem;
            font-size: 0.7rem;
            font-weight: 600;
            color: $color-progressbar-sky;
            cursor: pointer;

            &:hover {
                background-color: rgb(188, 222, 236);
                transition: all 0.5s;
            }

            @include respond(tab-land) {
                padding: 0.5rem;
            }
        }

    }
}

.hover-lines2 {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;

    @include respond(tab-land) {
        margin-top: 2.5rem;
    }
}

.hover-lines2 .line {
    width: 80%;
    height: 2px;
    background-color: rgb(235, 123, 11);
}

.hover-lines2 .line2 {
    width: 60%;
    height: 2px;
    background-color: rgb(235, 123, 11);
}

.project-card__2:hover .hover-lines2 {
    opacity: 1;
    transform: translateY(0);
}

.project-card__2 {
    background-color: $color-light-pink;
    width: 100%;
    border-radius: 2rem;
    height: 16rem;
    padding: 1.1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
        &__progress-bar-fill {
            height: 100%;
            background-color: rgb(235, 123, 11);
            border-radius: 5px;
        }

        &__footer__image-add__addBtn {
            font-size: 0.8rem;
                padding: 0.2rem;
                color: $color-white;
                background-color: rgb(235, 123, 11);
                border-radius: 50%;
                position: relative;
                left: 1.2rem;
                cursor: pointer;
        }

        &__footer__btn {
            background-color: $color-white-light;
            border: none;
            padding: 0.7rem;
            border-radius: 2rem;
            font-size: 0.7rem;
            font-weight: 600;
            color: rgb(235, 123, 11);
            cursor: pointer;

            &:hover {
                background-color: $color-white;
                transition: all 0.5s;
            }

            @include respond(tab-land) {
                padding: 0.5rem;
            }
        }
}

.hover-lines3 {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;

    @include respond(tab-land) {
        margin-top: 2.5rem;
    }
}

.hover-lines3 .line {
    width: 80%;
    height: 2px;
    background-color: rgb(0, 168, 11);
}

.hover-lines3 .line2 {
    width: 60%;
    height: 2px;
    background-color: rgb(0, 168, 11);
}

.project-card__3:hover .hover-lines3 {
    opacity: 1;
    transform: translateY(0);
}

.project-card__3 {
    background-color: $color-dark-green;
    width: 100%;
    border-radius: 2rem;
    height: 16rem;
    padding: 1.1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        &__progress-bar-fill {
            height: 100%;
            background-color: rgb(0, 168, 11);
            border-radius: 5px;
        }

        &__footer__image-add__addBtn {
            font-size: 0.8rem;
                padding: 0.2rem;
                color: $color-white;
                background-color: rgb(0, 168, 11);
                border-radius: 50%;
                position: relative;
                left: 1.2rem;
                cursor: pointer;
        }

        &__footer__btn {
            background-color: $color-white-light;
            border: none;
            padding: 0.7rem;
            border-radius: 2rem;
            font-size: 0.7rem;
            font-weight: 600;
            color: rgb(0, 168, 11);
            cursor: pointer;

            &:hover {
                background-color: $color-white;
                transition: all 0.5s;
            }

            @include respond(tab-land) {
                padding: 0.5rem;
            }
        }
}

.hover-lines4 {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;

    @include respond(tab-land) {
        margin-top: 2.5rem;
    }
}

.hover-lines4 .line {
    width: 80%;
    height: 2px;
    background-color: palevioletred;
}

.hover-lines4 .line2 {
    width: 60%;
    height: 2px;
    background-color: palevioletred;
}

.project-card__4:hover .hover-lines4 {
    opacity: 1;
    transform: translateY(0);
}

.project-card__4 {
    background-color: $color-dark-pink;
    width: 100%;
    border-radius: 2rem;
    height: 16rem;
    padding: 1.1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
        &__progress-bar-fill {
            height: 100%;
            background-color: palevioletred;
            border-radius: 5px;
        }

        &__footer__image-add__addBtn {
            font-size: 0.8rem;
            padding: 0.2rem;
            color: $color-white;
            background-color: palevioletred;
            border-radius: 50%;
            position: relative;
            left: 1.2rem;
            cursor: pointer;
        }

        &__footer__btn {
            background-color: $color-white-light;
            border: none;
            padding: 0.7rem;
            border-radius: 2rem;
            font-size: 0.7rem;
            font-weight: 600;
            color: palevioletred;
            cursor: pointer;

            &:hover {
                background-color: $color-white;
                transition: all 0.5s;
            }

            @include respond(tab-land) {
                padding: 0.5rem;
            }
        }
}