.project {
    padding: 2.5rem;
    
    &__details {
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        margin-top: 2.5rem;
        display: flex;
        justify-content: space-between;

        &__list {
            display: flex;
            gap: 2rem;
            list-style:circle;

            &__item li div{
                font-size: 0.85rem;
            }
            :first-child {
                list-style: none;
                display: inline;
            }
        }
        
        &__icon {
            display: flex;
            gap: 1.2rem;
            font-size: 1.1rem;
            cursor: pointer;
        }
    }
}