.project {
    &__details {
        padding: 0rem 2rem;
        display: flex;
        justify-content: space-between;

        @include respond(tab-land) {
            font-size: 0.9rem;
        }
    
        @include respond(tab-mini) {
            font-size: 0.75rem;
        }
    
        @include respond(tablet) {
            font-size: 0.7rem;
        }
        
        @include respond(phone) {
            font-size: 0.7rem;
        }
    }

    &__menu {
        font-size: 1rem;
        margin-bottom: 1rem;
        margin-top: 2.5rem;
        display: flex;
        padding: 0rem 2rem;
        justify-content: space-between;

        &__list {
            display: flex;
            gap: 2rem;
            list-style:circle;

            @include respond(tab-port) {
                font-size: 0.95rem;
            }

            @include respond(phone) {
                flex-wrap: wrap;
            }

            &__item li div{
                font-size: 0.75rem;

                @include respond(tab-port) {
                    font-size: 0.8rem;
                }

                @include respond(tablet) {
                    font-size: 0.8rem;
                }

                @include respond(phone) {
                    font-size: 0.9rem;
                }
            }
            :first-child {
                list-style: none;
                display: inline;
            }
        }
        
        &__icon {
            display: flex;
            gap: 1.2rem;
            font-size: 1rem;
            cursor: pointer;

            @include respond(tab-port) {
                gap: 0.7rem;
                font-size: 1rem;
            }

            @include respond(tablet) {
                gap: 1.2rem;
                font-size: 1rem;
            }
        }
    }
}