.heading-primary {
    color: $color-black;
    margin-left: -5rem;
    font-size: 1.5rem;
    font-weight: 800;
    position: relative;
    left: -3rem;

    @include respond(tab-land) {
        font-size: 1.3rem;
    }

    @include respond(tab-mini) {
        font-size: 1.2rem;
        left: 1rem;
    }

    @include respond(tab-port) {
        font-size: 1rem;
    }

    @include respond(tablet) {
        display: none;
    }

    @include respond(phone) {
        display: none;
    }
}