.menu-items {
    display: flex;
}

.searchbar {
    display: none;
    align-items: center;
    background-color: $color-white;
    border-radius: 2rem;
    padding: 0.7rem 0.7rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 34rem;

    @include respond(tablet) {
        display: block;
        margin: 1rem 2rem;
    }

    &__search {
        border: none;
        outline: none;
        font-size: 1rem;
        width: 9rem;
    }
    ::before {
        color: $color-text-grey;
        margin-right: 0.7rem;
    }
    ::placeholder {
        color: $color-text-grey;
        font-size: 0.9rem;
    }
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;

    @include respond(phone) {
        margin-left: -1rem;
    }

    &__left-heading {
        margin-left: 2.5rem;
        display: flex;
        align-items: center;
        gap: 5.5rem;

        @include respond(tab-land) {
            gap: 4.9rem;
        }

        @include respond(tab-port) {
            gap: 1.9rem;
        }

        @include respond(tablet) {
            gap: 1rem;
            flex-direction: column;
            align-items: start;
        }
    }

    &__right-heading {
        margin-right: 2rem;
        @include respond(phone) {
            margin-right: 1rem;
        }
    }
    
    .nav__lines {
        font-size: 1.5rem;
        cursor: pointer;

        @include respond(tab-mini) {
            font-size: 1.2rem;
        }

        @include respond(tablet) {
            font-size: 1.2rem;
        }

        @include respond(phone) {
            font-size: 1.2rem;
        }
    }

    &__searchbar {
        display: flex;
        align-items: center;
        background-color: $color-white;
        border-radius: 2rem;
        padding: 0.7rem 0.7rem;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        width: 31rem;

        @include respond(tab-land) {
            width: 17rem;
        }

        @include respond(tab-mini) {
            width: 15rem;
            padding: 0.5rem 0.5rem;
        }

        @include respond(tab-port) {
            width: 12rem;
            padding: 0.5rem 0.5rem;
        }

        @include respond(tablet) {
            display: none;
            width: 17rem;
        }

        &__search {
            border: none;
            outline: none;
            font-size: 1rem;
            width: 9rem;
        }
        ::before {
            color: $color-text-grey;
            margin-right: 0.7rem;
        }
        ::placeholder {
            color: $color-text-grey;
            font-size: 0.9rem;
        }
    }

    &__add {
        background-color: $color-black;
        border-radius: 50%;
        color: $color-white;
        height: 2rem;
        text-align: center;
        width: 2rem;
        padding: 0.6rem;
        font-size: 0.7rem;
        cursor: pointer;
        margin-right: 1rem;

        :hover {
            transition: 0.8s;
            transform: scale(1.5);
        }

        @include respond(tablet) {
            background-color: $color-black;
            border-radius: 50%;
            height: 2rem;
            width: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @include respond(phone) {
            background-color: $color-black;
            border-radius: 50%;
            height: 1.7rem;
            width: 1.7rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0.4rem;
        }
    }

    &__notification {
        cursor: pointer;
        font-size: 1.7rem;
        position: relative;
        border-right: 0.5px solid $color-text-grey;
        padding-right: 1.5rem;

        &__dot {
            background-color: red;
            border-radius: 50%;
            height: 0.4rem;
            width: 0.4rem;
            position: absolute;
            left: 1rem;
            top: 0.4rem;

            @include respond(phone) {
                left: 0.9rem;
                top: 0.4rem;
                height: 0.3rem;
                width: 0.3rem;
            }
        }

        @include respond(tab-land) {
            padding-right: 0.8rem;
        }

        @include respond(tab-mini) {
            padding-right: 0.8rem;
        }

        @include respond(tab-port) {
            padding-right: 0.8rem;
        }

        @include respond(phone) {
            font-size: 1.5rem;
            padding-right: 0.5rem;
        }
    }
    &__profile {
        display: flex;
        gap: 1rem;
        align-items: center;

        @include respond(tab-port) {
            font-size: 1rem;
        }
        @include respond(phone) {
            gap: 0.5rem;
        }
        
        &__img {
            cursor: pointer;
            object-fit: cover;
            border-radius: 50%;
            height: 2.5rem;
            width: 2.5rem;
            margin-left: 1rem;

            @include respond(tab-land) {
                height: 2rem;
                width: 2rem;
            }
            @include respond(tab-port) {
                height: 1.8rem;
                width: 1.8rem;
            }
            @include respond(phone) {
                margin-left: 0.5rem;
                height: 1.7rem;
                width: 1.7rem;
            }
        }
    }
}