.icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    font-size: 1.5rem;
    list-style: none;
    margin-left: 1rem;
    
    &__home {
        margin-left: -1rem;
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-black;
        color: $color-white;
        border-radius: 50%;
    }
    :hover {
        cursor: pointer;
    }

    @include respond(tab-land) {
        font-size: 1.2rem;

        &__home {
            width: 3rem;
            height: 3rem;
        }
    }

    @include respond(tab-mini) {
        font-size: 1.1rem;

        &__home {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}