.aside-items {
    @include respond(tablet) {        
        display: none;
        position: absolute;
        top: 52px;
        left: 15px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 15px;
        z-index: 1;
        font-size: 2rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    @include respond(phone) {        
        display: none;
        position: absolute;
        top: 52px;
        left: 15px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 15px;
        z-index: 1;
        font-size: 2rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

.display {
    display: flex;
    flex-direction: column;
}

.icons__home{
    background-color: $color-black;
    color: $color-white;
    border-radius: 50%;
}

.icons li {
    height: 4.5rem;
    width: 4rem;
    font-size: 1.5rem;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    i {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    i:hover {
        text-align: center;
        height: 4rem;
        width: 4rem;
        background-color: #000; 
        color: $color-white;
        border-radius: 50%;
        cursor: pointer;
    }

    @include respond(tab-land) {
        font-size: 1.4rem;
    }

    @include respond(tab-mini) {
        font-size: 1.3rem;
    }

    @include respond(tab-port) {
        font-size: 1.2rem;
    }

    @include respond(tablet) {
        font-size: 1.5rem;
    }

    @include respond(phone) {
        font-size: 1.5rem;
    }
}