@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 30em) { @content }  //400px
    }
    @if $breakpoint == tablet {
        @media only screen and (max-width: 37.5em) { @content }  //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 50em) { @content }  //800px
    }
    @if $breakpoint == tab-mini {
        @media only screen and (max-width: 62.50em) { @content }  //1000px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content }   //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content }   //1800px
    }
}