$color-light-green: #F3F6FD;
$color-black: #151522;
$color-white: #FFFFFF;
$color-white-light: #fffcfc;

$color-light-pink: #FDE5CC;
$color-dark-green: #B4F1CE;

$color-light-blue: #E9E7FD;
$color-dark-pink: #FFD3E2;

$color-text-grey: #c4c4c4;

$color-progressbar-grey: #e0e0e0;
$color-progressbar-sky: #00bfff;