$color-light-green: #F3F6FD;
$color-black: #151522;
$color-white: #FFFFFF;

$color-light-pink: #FDE5CC;
$color-dark-green: #B4F1CE;

$color-light-blue: #E9E7FD;
$color-dark-pink: #FFD3E2;

$color-text-grey: #c4c4c4;